html{
    height: 100%;
}
body{
    margin: 0;
}
.starterpage{
    background-size: 100%;
    background-image: url(../img/indexbg.jpg);
}
.start_btn{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 37%;
    top: 44%;
    border: none;
    padding: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    
}  
#start_text{
    font-family: 'Comfortaa', cursive;
    padding-top: 25px;
}
.main-container{
    margin: 0 auto;
    width: 1200px; 
    background-color: aliceblue;  
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 2px;
    margin-top: 20px;
    display: grid;
}
h1{
    text-align:center;
}
.main-items{
    font-size: 1.1em;
    padding: 1.5em;
    color: white;
}
.color1 {background-color: #675BA7;}
.color2 {background-color: #9BC850;}
.color3 {background-color: #A62E5C;}
.color4 {background-color: #2A9FBC;}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    }
    td:first-child{

        background: #ECE9E0;
    }
    .table_fst{
        text-align: center;
        background: #ECE9E0;
    }
    th {
    font-size: 18px;
    padding: 10px;
    }
    td {
    background: #F5D7BF;
    padding: 10px;
}

.soderjanie{
    
}
